:root{
    --red:  #ff0000 ;
    --white: white;
}
.body{
    width: 600px;
    height: 600px;
    margin: 10px auto ;
    background-color: rgb(235, 235, 53);
    display:flex;
    flex-wrap: wrap;
}

.body div{
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: rgb(182, 181, 181);
    border-radius: 40px;
    cursor: pointer;
}
.Ellipse_1 {
    background-image: url("Ellipse 1.png");
    position: absolute;
    left: 175px;
    top: 141px;
    width: 99px;
    height: 99px;
    z-index: 2;
  }
  